on:
  pull_request_target: # Mandatory to have access to secrets
jobs:
  build:
    runs-on: ubuntu-latest
    steps:    
      - uses: actions/checkout@v4 # Omitting param to checkout the PR instead of main
      - run: |
          echo "${{ github.head_ref }}"
          tree
        
        
